{
  "parser": "@babel/eslint-parser",
  "parserOptions": {},
  "env": {
    "browser": true,
    "commonjs": true,
    "node": true,
    "es6": true,
    "jest/globals": true
  },
  "rules": {
    "semi": "off",
    "arrow-parens": "off",
    "comma-dangle": "off",
    "require-jsdoc": "off",
    "object-curly-spacing": "off",
    "operator-linebreak": "off",
    "indent": "off",
    "linebreak-style": "off"
  },
    "plugins": ["jest"],
    "extends": ["eslint:recommended", "google"]
}
